
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7addeb;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.apply_box {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  margin: 50px auto;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
  border-radius: 10px;
}

.apply_box h1 {
  font-size: 2rem;
  text-align: center;
}

.title_small {
  font-size: 1rem;
  font-weight: 300;
  color: #555;
}

.form_container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.form_control {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  margin-bottom: 5px;
}

input,
select,
textarea {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus {
  outline-color: rgb(87, 233, 82);
}

.textarea_control {
  grid-column: 1 / span 2;
}

.textarea_control textarea {
  width: 100%;
}

.button_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button {
  background-color: rgb(32, 46, 241);
  border: transparent solid 2px;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
  transition: 0.3s ease-in;
  font-size: 1rem;
}

button:hover {
  background-color: #ccc;
  border: 2px solid red;
  color: black;
  transition: 0.3s ease-out;
  cursor: pointer;
}

@media (max-width: 768px) {
  .apply_box {
    padding: 15px;
  }

  button {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}

@media (max-width: 460px) {
  .form_container {
    grid-template-columns: 1fr;
  }

  .textarea_control {
    grid-column: 1;
  }

  button {
    width: 100%;
    justify-content: center;
  }
}
