
@font-face {
    font-family: Moranga;
    src: url(/public/Fonts/moranga.ttf);
    }
    @font-face {
    font-family: Gilroy;
    src: url(/public/Fonts/Gilroy-Bold.otf);
    }
    @font-face {
    font-family: Gilroy;
    src: url(/public/Fonts/Gilroy-Semibold.otf);
    }
    @font-face {
    font-family: Gilroy;
    src: url(/public/Fonts/Gilroy-Medium.otf);
    }
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    :root {
    --lighting-color: #45454e;
    --dark-color: #2d3748;
    --darker-color: #214e49;
    /* --secondary-color: #fff700; */
    --secondary-color: cadetblue;
    }
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
    }
    html {
    font-size: 62.5%;
    }
    body,
    html {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
    }
    body {
    font-size: 1.4rem;
    overflow-x: hidden;
    }
    
    
    a {
    text-decoration: none;
    color: white;
    }
    ul {
    list-style: none;
    }
    
    section {
    scroll-margin-top: 50px;
    }
    
    /* nav start  */
    
    
    nav {
      position: fixed;
      z-index: 999;
      width: 100%;
      padding: 6px 0;
      background: #ecf0f3;
      box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1,
        inset 0px -3px 0px #dadada, inset 3px 3px 5px #ceced1;
    }
    nav .menu {
      max-width: 1270px;
      margin: auto;
      padding: 5px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .menu .logo a {
      font-size: 28px;
      font-weight: 600;
      text-decoration: none;
      color: #243ae3;
    }
    .menu ul {
      list-style: none;
      display: flex;
    }
    .menu ul li {
      color: #ecf0f3;
    }
    .menu ul a {
      text-decoration: none;
      font-size: 18px;
      color: #31344b;
      font-weight: 400;
      display: inline-flex;
      padding: 10px 12px;
      box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
      position: relative;
      transition: all 0.3s ease;
    }
    .menu ul a:hover:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
    }
    
    .menu ul a:hover {
      color: #3498db;
    }
    .menu-btn {
      display: none;
    }
    .check{
      display: none;
    }
    
    @media (max-width: 720px) {
      nav .menu {
      padding: 20px 20px;
    }
      .wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #3947b5;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.3s ease-in-out;
        pointer-events: none;
      }
      #active:checked ~ .wrapper {
        clip-path: circle(75%);
        pointer-events: auto;
      }
      .menu-btn {
        display: block;
        position: fixed;
        z-index: 2;
        right: 20px;
        top: 20px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        color: #333;
        cursor: pointer;
        background: #ecf0f3;
        transition: all 0.3s ease-in-out;
      }
      #active:checked ~ .menu-btn {
        background: #fff;
        color: #4158d0;
      }
      #active:checked ~ .menu-btn i:before {
        content: "\f00d";
      }
      .wrapper ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        list-style: none;
        text-align: center;
      }
      .wrapper ul li {
        margin: 15px 0;
      }
      .wrapper ul li a {
        color: none;
        text-decoration: none;
        font-size: 30px;
        font-weight: 500;
        padding: 5px 30px;
        color: #fff;
        border-radius: 50px;
        background: #000;
        position: relative;
        line-height: 50px;
        transition: all 0.3s ease;
      }
     
      .wrapper ul li a:hover:after {
        transform: scaleY(1);
      }
      .wrapper ul li a:hover {
        color: #fff;
      }
      input[type="checkbox"] {
        display: none;
      }
    }
    /* nav end  */
    
    #page1, #page2, #page3, #page4, #page6, #project, #contact {
        width: 100%;
        max-width: 100vw;
        overflow-x: hidden;
      }
      
      #image-div img {
        max-width: 100%;
        height: auto;
      }
      
      .box img {
        max-width: 100%;
        height: auto;
      }
      
      #work-sample {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      #work-sample img {
        max-width: 100%;
        height: auto;
        margin: 10px;
      }
      
      @media (max-width: 768px) {
        #intro-div h1 {
          font-size: 6vw;
        }
        
        .box h4 {
          font-size: 4vw;
        }
        
        #page4 > h2, #page4 > h2 span {
          font-size: 6vw;
        }
        
        #page6 h1, #page6 h1 span {
          font-size: 6vw;
        }
        
        .form-card {
          padding: 2rem;
        }
      }
    
    
    /* ------Page 1 code----- */
    
    
    #page1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    }
    
    
    #image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    overflow: hidden;
    }
    
    #image-div img {
    object-fit: cover;
    object-position: center;
    height: 95vh;
    width: 100%;
    }
    
    
    /* ----Page1 responsive---- */
    
    @media (max-width:600px) {
    #page1 {
      /* min-height: 73vh; */
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      /* background-color: red; */
      position: relative;
    }
    
    
    #image-div {
      height: 100%;
      width: 100%;
      /* border-radius: 50%; */
      /* background-color: red; */
      overflow: hidden;
      /* margin-bottom: 2vmax; */
      /* width: 78vw; */
      /* clip-path: ellipse(40% 50% at 50% 50%); */
    }
    
    #image-div img {
      margin-top: 90px;
      object-fit: cover;
      object-position: bottom;
      height: 100%;
     width: 100%;
    }
    
    }
    
    
    
    /* ------Page2 code------ */
    
    #page2 {
    /* min-height: 100vh; */
    width: 100%;
    padding-top: 10vh;
    position: relative;
    background-color: black;
    color: white;
    }
    
    #name-div {
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    margin-bottom: 13vh;
    overflow-y: hidden;
    }
    
    #name-div::-webkit-scrollbar {
    display: none;
    }
    
    #name-div h1 {
    font-size: 8vw;
    /* background-color:yellow; */
    margin-right: 2vw;
    display: inline-block;
    /* animation-name: namemoving; */
    /* animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
    }
    
    @keyframes namemoving {
    0% {
    transform: translateX(0);
    }
    
    100% {
    transform: translateX(calc(-100% - 2vw - 4px));
    }
    }
    
    #intro-div {
    text-align: center;
    width: 80%;
    padding-top: 4vh;
    padding-bottom: 10vh;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
    }
    
    #intro-div h1 {
    word-spacing: 0.2vw;
    letter-spacing: 0.01vw;
    font-size: 4.4vw;
    line-height: 6.3vw;
    }
    
    #intro-div h1 a {
    text-decoration: underline;
    }
    
    #intro-div #prof {
    height: 80px;
    
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vmax;
    margin-left: auto;
    margin-right: auto;
    }
    
    #intro-div a img {
    height: 6.8vmax;
    /* background-color: blue; */
    }
    
    /* ----Page2 responsive----- */
    
    @media (max-width: 600px) {
    #page2 {
    /* min-height: 50vh; */
    width: 100%;
    padding-top: 2vh;
    position: relative;
    }
    
    #name-div {
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    margin-bottom: 1vh;
    /* background-color: red; */
    overflow-y: hidden;
    }
    
    #name-div::-webkit-scrollbar {
    display: none;
    }
    
    #name-div h1 {
    font-size: 14.6vw;
    /* background-color:yellow; */
    margin-right: 2vw;
    display: inline-block;
    }
    
    #intro-div {
    text-align: center;
    width: 90%;
    padding-top: 2vh;
    padding-bottom: 8vh;
    /* background-color: red; */
    margin-left: auto;
    margin-right: auto;
    }
    
    #intro-div h1 {
    word-spacing: 0.6vw;
    letter-spacing: 0.01vw;
    font-size: 8.2vw;
    font-weight: 100;
    line-height: 11.8vw;
    }
    
    #intro-div h1 a {
    text-decoration: underline;
    }
    
    #intro-div #prof {
    height: 70px;
    width: 70%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vmax;
    margin-left: auto;
    margin-right: auto;
    }
    
    #intro-div a img {
    /* margin-left: -10px; */
    height: 9.9vmax;
    /* background-color: blue; */
    }
    }
    
    /* -----Page3 code------ */
    
    #page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #222;
    padding: 7vh 5.1vw;
    position: relative;
    }
    
    #page3 > h3 {
    font-size: 4.8vmax;
    font-family: gilroy;
    margin-bottom: 0vmax;
    }
    
    #page3 > h3 span {
    font-size: 4.8vmax;
    font-family: gilroy;
    color: #38cdfa;
    }
    
    #page3 > h5 {
    font-size: 2.2vmax;
    font-family: gilroy;
    margin-bottom: 1.4vmax;
    }
    
    .box h4 {
    font-size: 2vmax;
    border: 1px solid cyan;
    align-items: center;
    background-color: transparent;
    /* display: inline-block; */
    font-family: gilroy;
    color: #fff;
    font-weight: 500;
    width: fit-content;
    /* height: 45px; */
    transition: all linear 0.5s;
    position: relative;
    overflow: hidden;
    padding: 0px 2px;
    margin-top: 4vmax;
    margin-bottom: 1.6vmax;
    z-index: 1;
    }
    .box h4::after{
    content: "";
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: cyan;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: all linear 0.5s;
    z-index: -1;
    }
    .box h4:hover::after{
    transform: translate(-50%,-50%) scale(4);
    }
    .box h4:hover{
    color: black;
    }
    
    .box img {
    height: 5vmax;
    margin-right: 12px;
    background-color: #fff;
    padding: 5px;
    position: relative;
    border-radius: 8px;
    }
    
    .des-box img {
    height: 6vmax;
    margin-right: 1.4vmax;
    }
    
    /* ----Page3 responsive---- */
    
    @media (max-width: 600px) {
    #page3 {
    min-height: 67vh;
    width: 100%;
    background-color: #222;
    padding: 5vh 5.1vw;
    position: relative;
    }
    
    #page3 > h3 {
    font-size: 4.4vmax;
    font-family: gilroy;
    margin-bottom: 0vmax;
    }
    
    #page3 > h3 span {
    font-size: 4.4vmax;
    font-family: gilroy;
    color: #38cdfa;
    }
    
    #page3 > h5 {
    font-size: 2.2vmax;
    font-family: gilroy;
    font-weight: 500;
    margin-bottom: 1.4vmax;
    }
    
    .box h4 {
    font-size: 2.1vmax;
    border: 2px solid white;
    display: inline-block;
    font-family: gilroy;
    color: #fff;
    font-weight: 500;
    padding: 5px 9px;
    border-radius: 7px;
    margin-top: 4vmax;
    margin-bottom: 2vmax;
    position: relative;
    overflow: hidden;
    transition: all linear 0.5s;
    }
    
    
    .box img {
    height: 5.8vmax;
    width: 15%;
    margin-right: 5px;
    background-color: #fff;
    padding: 4px;
    position: relative;
    border-radius: 5px;
    }
    
    .des-box img {
    height: 6.7vmax;
    margin-right: 5px;
    }
    }
    
    /* ----Page4 code----- */
    
    #page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #333;
    position: relative;
    padding: 5vh 4vw;
    }
    
    #page4 > h2 {
    font-size: 3.7vmax;
    font-weight: 600;
    font-family: gilroy;
    }
    
    #page4 > h2 span {
    font-size: 3.7vmax;
    font-weight: 600;
    font-family: gilroy;
    color: #fc626a;
    }
    
    #page4 > h4 {
    font-size: 1.85vmax;
    font-weight: 500;
    margin-bottom: 3vmax;
    font-family: gilroy;
    }
    
    #work-sample {
    background-color: #fff;
    /* border: 3px solid #fff; */
    height: 76vh;
    margin-bottom: 4vmax;
    display: flex;
    border-radius: 10px;
    padding: 2vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    }
    
    #work-sample img {
    /* height: 13vmax; */
    height: 31vh;
    width: 28vw;
    box-shadow: 1px 7px 20px rgba(0, 0, 0, 0.4);
    }
    
    #page4 > a {
    display: block;
    text-align: right;
    /* background-color: red; */
    margin-bottom: 3vmax;
    padding: 0 1vw;
    }
    
    #page4 > a img {
    height: 4.2vmax;
    }
    
    /* ----page4 responsive---- */
    @media (max-width:400px){
    #page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #333;
    position: relative;
    padding: 4vh 4.9vw;
    }
    
    #page4 > h2 {
    font-size: 4.4vmax;
    font-weight: 600;
    font-family: gilroy;
    /* background-color: red; */
    }
    
    #page4 > h2 span {
    font-size: 4.4vmax;
    font-weight: 600;
    font-family: gilroy;
    color: #fc626a;
    }
    
    #page4 > h4 {
    font-size: 2.1vmax;
    font-weight: 500;
    margin-bottom: 3vmax;
    font-family: gilroy;
    }
    
    #work-sample {
    background-color: #fff;
    /* height: 84vh; */
    height: auto;
    margin-bottom: 4.8vmax;
    display: flex;
    border-radius: 10px;
    padding: 2vh 1.5vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    }
    
    #work-sample img {
    height: 30vw;
    width: 75vw;
    margin: 4px;
    box-shadow: 1px 7px 15px rgba(0, 0, 0, 0.25);
    }
    
    #page4 > a {
    display: block;
    text-align: right;
    /* background-color: red; */
    margin-bottom: 1vmax;
    padding: 0 1vw;
    }
    
    #page4 > a img {
    height: 6vmax;
    }
    }
    
    @media (min-width: 400px) and (max-width: 600px) {
    #page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #333;
    position: relative;
    padding: 4vh 4.9vw;
    }
    
    #page4 > h2 {
    font-size: 4.4vmax;
    font-weight: 600;
    font-family: gilroy;
    /* background-color: red; */
    }
    
    #page4 > h2 span {
    font-size: 4.4vmax;
    font-weight: 600;
    font-family: gilroy;
    color: #fc626a;
    }
    
    #page4 > h4 {
    font-size: 2.1vmax;
    font-weight: 500;
    margin-bottom: 3vmax;
    font-family: gilroy;
    }
    
    #work-sample {
    background-color: #fff;
    /* height: 125vh; */
    height: auto;
    margin-bottom: 4.8vmax;
    display: flex;
    border-radius: 10px;
    padding: 2vh 1.5vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    }
    
    #work-sample img {
    height: 35vw;
    width: 75vw;
    margin: 4px;
    box-shadow: 1px 7px 15px rgba(0, 0, 0, 0.25);
    }
    
    #page4 > a {
    display: block;
    text-align: right;
    /* background-color: red; */
    margin-bottom: 1vmax;
    padding: 0 1vw;
    }
    
    #page4 > a img {
    height: 6vmax;
    }
    }
    
    /* ----page6 code---- */
    
    #page6 {
    background-color: #2e2b2b;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 4.5vh 4.2vw;
    }
    
    #page6 h1 {
    /* text-align: center; */
    font-size: 4.6vmax;
    font-family: gilroy;
    margin-top: 1vmax;
    margin-bottom: 3.5vmax;
    }
    
    #page6 h1 span {
    color: #f6ba53;
    font-family: gilroy;
    }
    
    #artworks a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 72px;
    border-top: 2px solid #fff;
    color: white;
    text-decoration: none;
    padding: 0 3px;
    }
    
    #artworks a:nth-last-child(1) {
    border-bottom: 2px solid #fff;
    margin-bottom: 5vmax;
    }
    
    #artworks a h4 {
    font-size: 1.7vmax;
    position: relative;
    z-index: 99;
    transition: color ease-in 0.4s;
    width: 12%;
    }
    
    #artworks a h5 {
    font-size: 1.8vmax;
    font-weight: 600;
    font-family: gilroy;
    width: 30%;
    position: relative;
    transition: color ease-in 0.4s;
    z-index: 99;
    }
    
    #artworks a h6 {
    padding-right: 4vw;
    font-size: 1.2vmax;
    width: 60%;
    text-align: right;
    position: relative;
    z-index: 99;
    transition: color ease-in 0.4s;
    }
    
    #sliding-div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 9;
    width: 0%;
    transition: width cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
    background-color: cyan;
    }
    
    #artworks a:hover #sliding-div {
    width: 100%;
    }
    
    #artworks a:hover h4 {
    color: #222;
    }
    
    #artworks a:hover h5 {
    color: #222;
    }
    
    #artworks a:hover h6 {
    color: #222;
    }
    
    /* ----page6 responsive---- */
    
    @media (max-width: 600px) {
    #page6 {
    background-color: #222;
    min-height: 60vh;
    width: 100%;
    position: relative;
    padding: 4.5vh 4.7vw;
    }
    
    #page6 h1 {
    /* text-align: center; */
    font-size: 4vmax;
    font-family: gilroy;
    margin-top: 0vmax;
    margin-bottom: 5vmax;
    }
    
    #page6 h1 span {
    color: #f6ba53;
    font-family: gilroy;
    }
    
    #artworks a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 70px;
    border-top: 2px solid #fff;
    padding: 0 2px;
    }
    
    #artworks a:nth-last-child(1) {
    border-bottom: 2px solid #fff;
    margin-bottom: 5vmax;
    }
    
    #artworks a h4 {
    font-size: 2.3vmax;
    position: relative;
    z-index: 99;
    transition: color ease-in 0.4s;
    width: 18%;
    /* background-color: red; */
    }
    
    #artworks a h5 {
      font-size: 1.5vmax;
    
    font-weight: 600;
    font-family: gilroy;
    width: 33%;
    /* background-color: red; */
    position: relative;
    transition: color ease-in 0.4s;
    z-index: 99;
    }
    
    #artworks a h6 {
    font-size: 1.5vmax;
    width: 29%;
    text-align: right;
    /* background-color: red; */
    position: relative;
    z-index: 99;
    font-family: gilroy;
    transition: color ease-in 0.4s;
    }
    
    #sliding-div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 9;
    width: 0%;
    transition: width cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
    background-color: #fff;
    }
    
    #artworks a:hover #sliding-div {
    width: 100%;
    }
    
    #artworks a:hover h4 {
    color: #222;
    }
    
    #artworks a:hover h5 {
    color: #222;
    }
    
    #artworks a:hover h6 {
    color: #222;
    }
    }
    
    /* Project Section */
    
    #project {
    position: relative;
    height: auto;
    padding-bottom: 20vh;
    padding-top: 8vh;
    background: var(--darker-color);
    }
    
    #project h2 {
    font-size: 6rem;
    text-align: center;
    }
    .project_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    }
    .grid_item {
    flex: 1 1 calc(33.333% - 2rem); /* 3 items per row, responsive */
    max-width: 250px;
    min-width: 200px;
    }
    
    .card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    
    }
    .card img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    }
    .card:hover {
    transform: scale(1.02);
    transition: 1s ease-in-out;
    }
    .card:hover img {
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
    }
    .card:hover .card_content {
    background: #e4dcd6;
    color: var(--dark-color);
    transform: translateY(1px);
    }
    
    .card_content {
    padding: 2rem;
    position: relative;
    top: -6.4rem;
    margin-bottom: -6.5rem;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
    }
    .card_content h3 {
    text-align: center;
    }
    #more{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2vh 1vw;
    }
    #more h1{
    border: 1px solid cyan;
    border-radius: 3px;
    text-align: center;
    padding: 2px 9px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all ease 0.6s;
    }
    #more h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.6s;
    background-color: rgba(75, 246, 95, 0.464);
    z-index: -1;
    }
    #more h1:hover::after{
    bottom: 0;
    border-radius: 0;
    }
    
    /* Responsive adjustments */
    @media (max-width: 768px) {
    .grid_item {
    flex: 1 1 calc(50% - 2rem); /* 2 items per row */
    }
    }
    
    @media (max-width: 480px) {
    .grid_item {
    flex: 1 1 100%; /* 1 item per row */
    }
    
    h6 {
    font-size: 5vw;
    }
    }
    
    /* Contact Section */
    #contact {
    padding: 3vh 0;
    background: var(--dark-color);
    }
    
    
    .form-card {
    /* max-width: 28rem;  */
    /* margin: 2.5rem auto;  */
    background-color: #2d3748; 
    padding: 4.25rem 9rem; 
    border-radius: 0.375rem; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    
    .text-center {
    text-align: center;
    }
    
    .form-title {
    margin: 0.75rem 0; 
    font-size: 1.875rem; 
    font-weight: 600; 
    color: #f7fafc; 
    }
    
    .form-description {
    color: #cbd5e0; 
    font-size: 1.5rem;
    }
    
    .form-content {
    margin: 1.75rem; 
    font-size: 4rem;
    
    }
    
    .form-group {
    margin-bottom: 1.5rem; 
    }
    
    .form-label {
    display: block;
    margin-bottom: 0.5rem; 
    font-size: 1.875rem; 
    color: #cbd5e0; 
    }
    
    .form-input,
    .form-textarea {
    width: 100%;
    padding: 0.5rem 0.75rem; 
    height: 4rem; 
    border-radius: 0.1875rem; 
    color: #2d3748; 
    background-color: #edf2f7; 
    font-size: 1.875rem; 
    border: 1px solid #e2e8f0; 
    }
    .form-textarea {
    height: 10rem;
    }
    
    .form-input::placeholder,
    .form-textarea::placeholder {
    color: #a0aec0; 
    }
    
    .form-input:focus,
    .form-textarea:focus {
    outline: none;
    }
    
    .form-button {
    width: 100%;
    background-color: #5a67d8; 
    color: white;
    padding: 1rem; 
    border: none;
    border-radius: 0.1875rem;
    cursor: pointer;
    }
    
    .form-button:hover {
    background-color: #b794f4; 
    }
    
    .form-result {
    font-size: 1rem; 
    text-align: center;
    color: #cbd5e0; 
    }
    
    @media (min-width:500px) {
    #contact{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: ; */
    /* width: 100vw; */
    background-color: #2d3748;;
    }
    .form-card {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 70vw;
    /* margin: 2.5rem auto;  */
    background-color: #2d3748; 
    padding: 4.25rem 9rem; 
    border-radius: 0.375rem; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    }
    
    /* Footer */
    
    footer {
    background: var(--darker-color);
    padding: 2rem;
    color: white;
    font-size: 1.6rem;
    text-align: center;
    }
    
    /* Media Query */
    
    @media (max-width: 786px) {
    html {
    font-size: 40%;
    }
    #hero .container {
    flex-direction: column;
    }
    .hero_image {
    display: grid;
    place-items: center;
    }
    #contact .container {
    height: 70vh;
    }
    }
    @media (max-width: 500px) {
    html {
    font-size: 32%;
    }
    #hero .container {
    flex-direction: column;
    }
    .hero_image {
    display: grid;
    place-items: center;
    }
    #contact .container {
    height: 50vh;
    }
    }
    